<!DOCTYPE html>
<html>
    
<head>
  <title>JGLEE JWPlayer Test</title>
  <script type="text/javascript" src="http://l2.io/ip.js?var=myip"></script>

  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.7/jquery.validate.min.js"></script>
  <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

  <script src="https://use.fontawesome.com/0080c1af9b.js"></script>

  <script src='https://content.jwplatform.com/libraries/P93rbEaw.js'></script>

  <script src="/javascripts/index.js"></script>
  <!-- for ui form -->
  <link rel="stylesheet" type="text/css" href="/stylesheets/addBtn.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/video.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/QuesBlock.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/QuesList.css">
</head>

<body>

  <div id="video_box" class="video">
      <div id="myElement">This text will be replaced with a player.</div>
      <script type="text/javascript">
        var playerInstance = jwplayer("myElement")
        playerInstance.setup({
          title: "the three little pigs",
          width: "720",
          height: "480",
          aspectratio: "16:9",
          autostart: false,
          repeat: false,
          abouttext: "故宮教育頻道",
          aboutlink: "http://npm.nchc.org.tw",
          sources: [{
          file: "/images/1.mp4",
          label: "1080p_test"
          }, {
          file: "/images/1.mp4",
          label: "480p_test"
          }, {
          file: "/images/1.mp4",
          label: "720p_test",
          'default': 'true'
          }, {
          file: "/images/1.mp4",
          label: "360p_test"
          }]
        });
      </script>

      <div id="circle-btn" class="wrapper">
        <button id="add-btn" class="circle" onclick="popBlock(); setTime();">
          <i class="fa fa-plus fa-2x" aria-hidden="true"></i>
        </button>
        <button id="return-ques-btn" class="circle" onclick="maxBlock()">
          <i class="fa fa-commenting fa-2x" aria-hidden="true"></i>
        </button>
        <button id="branch-goto-btn" class="circle" onclick="popBlock()">
          <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>
        </button>
      </div>

      <div id="QuesBlock">
        <div class="container">
          <div class="row" id="window-btn">
            <div class="col-md-4 text-left">
              <button type="button" id="back-btn" class="btn text-primary ctrl-btn" onclick="previousStep()"><i class="fa fa-arrow-left fa-lg" aria-hidden="true"></i></button>
            </div>
            <div class="col-md-8 text-right">
              <button type="button" id="update-btn" class="btn text-primary ctrl-btn"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></button>
              <button type="button" id="trash-btn" class="btn text-danger ctrl-btn"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></button>
              <button type="button" id="mini-btn" class="btn text-primary ctrl-btn" onclick="minimizeBlock()"><i class="fa fa-minus fa-lg" aria-hidden="true"></i></button>
              <button type="reset" id="close-btn" class="btn text-danger ctrl-btn" onclick="closeBlock()"><i class="fa fa-times fa-lg" aria-hidden="true"></i></button>
            </div>
          </div>

          <div id="selectType" class="row btn quesSlides" data-toggle="buttons">
            <h1 class="text-center">Select Question Type</h1>
            <button type="button" id="single" name="qeusType" class="ques-type-btn btn-primary" onclick="selectType(event)">Single Choice</button>
            <button type="button" id="multiple" name="qeusType" class="ques-type-btn btn-primary" onclick="selectType(event)">Multiple Choice</button>
            <button type="button" id="branch" name="qeusType" class="ques-type-btn btn-primary" onclick="selectType(event)">Branch Selection</button>
          </div>

        </div>
        <div id="editMode" class="container quesSlides">
          <form id="quesForm" class="form-group quesForm">
            <h1>Edit Question</h1>
            <input id="questype" type="hidden" name="questype" value=""/>
            <input id="time" type="hidden" name="time" value=""/>
            <input id="title" type="text" name="title" placeholder="title" class="form-control my-2 required"/>
            <textarea id="description" name="description"placeholder="description" class="form-control my-2 required"></textarea>
            
            <div id="quesSections" class="btn-group btn-group-vertical" data-toggle="buttons">
            </div>
            <button type="button" id="addSection" class="btn btn-primary my-1 p-2 w-100" cnt="0" onclick="addSec('', -1)">add section</button>
            
            <textarea id="explain" name="explain" placeholder="explain" class="form-control my-2 required"></textarea>
            
            <div id='submitGroup' class="btn-group w-100" role="group">
              <button type="button" id="saveQues" class="btn btn-outline-primary my-1 p-2 w-100" onclick="save()">save</button>
              <button type="button" id="addNextQues" class="btn btn-outline-primary my-1 p-2 w-100" onclick="addNext()">save and add another question</button>
            </div>
            <div id='updateGroup' class="btn-group w-100" role="group">
              <button type="button" id="updateQues" class="btn btn-outline-primary my-1 p-2 w-100">update</button>
              <button type="button" id="deleteQues" class="btn btn-outline-danger my-1 p-2 w-100">delete</button>
            </div>
          </form>
        </div>
        <div id="previewMode" class="container">
          <h1 id="pre-title"></h1>
          <p id="pre-description"></p>
          <div id="pre-secs-blk">
          </div>
          <p id="pre-explain"></p>
        </div>
        </div>
      
      <div id="ques-list-block" class="card">
        <div class="card-header text-center">Question List</div>
        <div id="ques-list" class="list-group list-group-flush btn-group">

          </div>
      </div>
  </div>
</body>
</html>


    